/* For devices smaller than 570px but larger than XXXXXX */
@media only screen and (max-width: 570px) {
    .profile_image{
        height: 290px;
        margin-top: 25%;
        margin-right: 20%;
    }

    .profile_image > img{
        height: 440px;
        margin-top: -150px;
    }
 
    .contact{
        margin-right: 20%;
        clear: both;
        float: right;
        margin-top: 2%;
    }
    }