/* ---- reset ---- */

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #ecf0f3;
}

.front_site{
    background-color: rgba(236, 240, 243, 0);
    display: inline;
}

.person_info{
    font-family: 'Montserrat', sans-serif;
    background: #ecf0f3;
    margin-left: 15%;
    margin-top: 15%;
    display: inline-block;
    background-color: rgba(236, 240, 243, 0);
}

.person_name{
    /* margin-top: 20%; */
    font-size: 60px;
}

#container {
    display: inline;
	font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    background-color: rgba(236, 240, 243, 0);
}

#text {
	display: inline-block;
	color: #000000;
    background-color: rgba(236, 240, 243, 0);
}

#cursor{
    background-color: rgba(236, 240, 243, 0);
}


/* Profile image */

.profile_image {
    float: right;
    height: 452px;
    border-radius: 10px;
    display: inline;
    margin-top: 12%;
    margin-right: 13%;
    background: rgb(220,225,228);
    background: linear-gradient(135deg, rgba(220,225,228,1) 0%, rgba(255,255,255,1) 100%);
    box-shadow: 5px 5px 10px rgb(206, 206, 206);
}

.profile_image > img{
    margin-top: -160px;
}

/* Contact form under profile picture and typeWriter effect*/

.contact{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-left: 15%;
    margin-top: 10%;
}

.contact > h4{
    letter-spacing: 2px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 10px;
    color: black;
    background: rgb(220,225,228);
    background: linear-gradient(135deg, rgba(220,225,228,1) 0%, rgba(255,255,255,1) 100%);
    box-shadow: 2px 2px 5px rgb(206, 206, 206);

  }
  
  .fa:hover {
      color: #ff014f;
      opacity: 0.7;
  }

  .icon_socials{
      list-style: none;
      padding: 0;
  }

  .icon_socials > li{
      display: inline;
  }